<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <!-- Title Page Student -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">DEPARTMENT</h1>
    </div>
    

    <!-- Department List -->
    <div class="row list-department">
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/mechanical-engineering.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mechanical Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/electrical-engineering.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Electrical Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/industrial-engineering.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Industrial Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/civil-engineering.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Civil Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/informatic-engineering.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Informatic Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="/img/chemical-engineering.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chemical Engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>


</main>

  
  
  